body {
  font-family: "Open Sans", sans-serif;
}
.navbar {
  font-family: "Oswald", sans-serif;
}

.navbar,
#contactos,
.experience {
  background-color: #ffb3b3;
}
.title-gaby {
  font-family: "Oswald", sans-serif;
  color: #ff4d4d;
}
.mi-experiencia {
  font-family: "Oswald", sans-serif;
}
.trabajos {
  font-family: "Oswald", sans-serif;
  color: #ff4d4d;
}

.contacto {
  width: 100%;
  height: 500px;
}

#contactos {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  @media (min-width: 1124px) flex-direction: row;
}

.redes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
